.year-green {
  display: block;
  background: green;
  color: yellow;
  padding: 5px;
  width: 122px;
}

.year-red {
  display: block;
  background: red;
  color: white;
  padding: 5px;
  width: 122px;
}
